*{
    margin: 0;
    padding: 0;
}

header{
    padding: 4em 0;
    margin-top: 5rem;
    margin-bottom: 20rem;
}

#bio{
    padding: 2rem;
}

main section article p{
    margin: 2rem;
}
/* main section article img{
    margin: 1rem 2rem;
    padding: auto;
} */
main section div{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header{
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}

main section{
    margin: 1rem auto;
    padding: 2rem;
    max-width: 1300px;
}


footer{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

section ul{
    padding-left: 2rem;
}

#container{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#container article{
    margin: 1rem;
}

#container article h3{
    text-align: center;
}

#container img{
    width: 100%;
}








nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;

}

nav a{
    padding: 1em 2em;
    
}